.dimmer {
  position: fixed; /* Закрепляем элемент */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 1); /* Полностью черный фон */
  opacity: 0; /* Начальная прозрачность */
  transition: opacity 0.3s ease; /* Плавный переход */
  z-index: 9999; /* Высокий индекс, чтобы элемент был сверху */
  pointer-events: none; /* Игнорируем события мыши */
}

.visible {
  opacity: 1; /* Полная видимость при активации затемнения */
}
